h1 {
  text-align: center;
  font-family: Bell Gothic, sans-serif;
  text-transform: uppercase;
  border-style: groove;
  border-color: black;
}

span {
  color: red;
}

img {
  outline-style: groove;
  outline-color: red;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: red;
}

.maininfo, .actors, .prizes, .links, .trailer, .plot {
  margin: auto;
  width: 50%;
  padding: 10px;
  border-style: groove;
  font-family: Tahoma, sans-serif;
  border-color: red;
  background: black;
  color: white;
}
